<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
 <bean id="classOne" class="com.mypackage.CircularDependencies.ClassOne">
 <property name="classTwo" ref="classTwo"></property>
 </bean>
 
 <bean id="classTwo" class="com.mypackage.CircularDependencies.ClassTwo">
 <property name="classOne" ref="classOne"></property>
 </bean>

</beans>